<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <experienceProfile>
      <providers>
        <contactSearchProvider>
          <patch:attribute name="type" value="Sitecore.Support.Cintel.ContactSearchProvider, Sitecore.Support.156530"/>
        </contactSearchProvider>
      </providers>
    </experienceProfile>
  </sitecore>
</configuration>